#banner
  .banner_content
    %h1 DocStore
    %p Your crap everywhere
    %button= link_to 'Sign Up', new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organise
        %p Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to 'Join Now!', new_user_registration_path